p {
    font-weight: bold;
}

@media (min-width: 1024px) { 
    .buttonControlPanel {
        margin: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}

@media (min-width: 768px) { 
    .buttonControlPanel {
        margin: 1em;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 1em;
    }
}

@media (max-width: 769px) { 
    .buttonControlPanel {
        margin: 1em;
        display: grid;
        grid-template-rows: auto auto;
    }
}

.next-updates {
    margin: 1em;
}

.buttonDescription {
    display: none;
}

.buttonBox {
    margin: 1em;
    display: block;
}

.title-info {
    font-weight: 501;
    font-size: large;
}

button {
    margin: 0.4em;
    width: 100%;
}

// button:hover {
//     // background-color: lightgrey;
// }

// button:disabled {
//     background-color: gray;
//     // color: black;
// }

pre {
    border: 1px solid black;
    padding: 1em;
    overflow-x: auto;
    // word-wrap: break-word;
    // white-space: pre-wrap;
}


